@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
th, td {
    max-width: 150px;
}

.result , 
.hundred-result,
.total-result,
.total-hundred-result {
   width: 100%;
   margin: 0 auto;
   display: inline-block;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #DC3545;
    color: white;
}

.download {
    width: 100%;
}

@media screen and (min-width: 992px ) {
    .result , 
    .hundred-result,
    .total-result,
    .total-hundred-result {
       width: 60%;
      
    } 

    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #DC3545;
        color: white;
    }
}
@media print {
    header {
        display: none;
    }
    section {
        display: none;
    }
    .no__printable {
        display: none;
        color: transparent;
        border: transparent;
        background-color: white;
    }

}